
    .announcement-container {
      background-color: #fff;
      padding: 20px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    /* Title styling */
    .announcement-title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Title styling */
    .announcement-subtitle {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Date styling */
    .announcement-date {
      font-size: 12px;
      color: #777;
      margin-bottom: 15px;
    }

    /* Place styling */
    .announcement-place {
      font-size: 20px;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    /* Address styling */
    .announcement-address {
      margin-bottom: 20px;
    }

    .address1,
    .address2 {
      font-size: 10px;
      text-transform: capitalize;
      color: #555;
      margin: 5px 0;
    }

    /* Schedule styling */
    .announcement-schedule {
      margin-bottom: 20px;
    }

    .schedule1,
    .schedule2 {
      font-size: 12px;
      text-transform: uppercase;
      color: #444;
      margin: 5px 0;
    }

    /* Message styling */
    .announcement-message {
      font-size: 18px;
      text-transform: capitalize;
      color: #333;
      margin-top: 10px;
    }
 /* Part 1 */
#slidepromos1:checked ~ .slides {
    transform: translateX(-0%);
}

#slidepromos2:checked ~ .slides {
    transform: translateX(-100%);
}

#slidepromos3:checked ~ .slides {
    transform: translateX(-200%);
}

/* Arrows linked to radio button checks */
#slidepromos1:checked ~ .arrow.left[for="slidepromos3"],
#slidepromos1:checked ~ .arrow.right[for="slidepromos2"] {
    display: block;
}
#slidepromos2:checked ~ .arrow.left[for="slidepromos1"],
#slidepromos2:checked ~ .arrow.right[for="slidepromos3"] {
    display: block;
}
#slidepromos3:checked ~ .arrow.left[for="slidepromos2"],
#slidepromos3:checked ~ .arrow.right[for="slidepromos1"] {
    display: block;
}
