
                .share-button {
                    width: 200px; /* Ancho consistente */
                    height: 30px;
                    padding: 0px;
                    border-radius: 50px;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: center;
                } 
        