/* Part 1 */
#slidemenu1:checked ~ .slides {
    transform: translateX(-0%);
}

#slidemenu2:checked ~ .slides {
    transform: translateX(-100%);
}

/* Arrows linked to radio button checks */
#slidemenu1:checked ~ .arrow.left[for="slidemenu2"],
#slidemenu1:checked ~ .arrow.right[for="slidemenu2"] {
    display: block;
}
#slidemenu2:checked ~ .arrow.left[for="slidemenu1"],
#slidemenu2:checked ~ .arrow.right[for="slidemenu1"] {
    display: block;
}
