

  .btn-lbl {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
        background-color: DarkGray;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .btn-wh {
    width: 200px; 
    height: 30px;
  }

  .btn-lbl:hover {
    background-color: black;
  }

  .btn-lbl:active {
    background-color: dimgray;
  }
