

    img {
        width: 100%; /* Images take full width of their container */
        height: auto; /* Maintain aspect ratio */
    }

    .back-to-top {
        margin-left: auto; /* Pushes back button to the right */
        cursor: pointer;
    }

    /* Style for sections at the bottom */
    .info-section {
        display: flex; /* Flexbox layout for icons and text */
        border: 1px solid #ccc; /* Border for sections */
        border-radius: 10px; /* Rounded corners for sections */
        align-items: center; /* Center items vertically */
        justify-content: space-between;
    }

    /* Gradual styles for different screen sizes */

    @media (max-width: 599px) {
        html, body {
            line-height: 50%;
        }
        h1 {
            font-size: 1.2em; /* Even smaller font size for very small screens */
        }
        h2 {
            font-size: 0.8em; /* Even smaller font size for very small screens */
        }
        p {
            font-size: 1em; /* Medium font size for large tablets */
        }
        .txt-sec {
            font-size: 0.8em; /* Smaller paragraph font size */
        }
        .txt-fs {
            font-size: 18px;
        }
        svg {
            width: 150%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 50%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .4em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .4em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 20%;
            height: auto;
        }
    }

    @media (min-width: 600px) {
        html, body {
            line-height: 60%;
        }
        h1 {
            font-size: 1.5em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 1.1em; /* Medium font size for large tablets */
        }
        .txt-sec {
            font-size: 1em; /* Smaller paragraph font size */
        }
        .txt-fs {
            font-size: 19px;
        }
        svg {
            width: 120%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 60%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .5em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .5em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 20%;
            height: auto;
        }
    }
    @media (min-width: 768px) {
        html, body {
            line-height: 70%;
        }
        h1 {
            font-size: 1.8em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1.2em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 1.2em; /* Medium font size for large tablets */
        }
        .txt-sec {
            font-size: 1.2em; /* Smaller paragraph font size */
        }
        .txt-fs {
            font-size: 20px;
        }
        svg {
            width: 96%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 70%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .6em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .6em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 22%;
            height: auto;
        }
    }

    @media (min-width: 992px) {
        html, body {
            line-height: 80%;
        }
        h1 {
            font-size: 2.1em; /* Smaller font size for medium tablets */
        }
        h2 {
            font-size: 1.4em; /* Smaller font size for medium tablets */
        }
        p {
            font-size: 1.3em; /* Medium font size for large tablets */
        }
        .txt-sec {
            font-size: 1.4em; /* Smaller paragraph font size */
        }
        .txt-fs {
            font-size: 21px;
        }
        svg {
            width: 97%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 80%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .7em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .7em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 24%;
            height: auto;
        }
    }

    @media (min-width: 1200px) {
        html, body {
            line-height: 90%;
        }
        h1 {
            font-size: 2.4em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.6em; /* Medium font size for large tablets */
        }
        p {
            font-size: 1.4em; /* Medium font size for large tablets */
        }
        .txt-sec {
            font-size: 1.6em; /* Slightly smaller paragraph font size */
        }
        .txt-fs {
            font-size: 22px;
        }
        svg {
            width: 98%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 90%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .8em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .8em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 26%;
            height: auto;
        }
    }

    @media (min-width: 1680px) {
        html, body {
            line-height: 95%;
        }
        h1 {
            font-size: 2.7em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.8em; /* Medium font size for large tablets */
        }
        p {
            font-size: 1.5em; /* Medium font size for large tablets */
        }
        .txt-sec {
           font-size: 1.8em; /* Slightly smaller paragraph font size */
        }
        .txt-fs {
            font-size: 23px;
        }
        svg {
            width: 99%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 95%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .9em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .9em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 28%;
            height: auto;
        }
    }

    @media (min-width: 1920px) {
        html, body {
            line-height: 100%;f
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.6em;
        }
        .txt-sec {
            font-size: 2em;
        }
        .txt-fs {
            font-size: 24px;
        }
        svg {
            width: 100%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 100%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: 1em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: 1em; /* Ensure font size is consistent within rows */
        }
        .btn-mw {
            width: 30%;
            height: auto;
        }

    }
