

.cta-wrapper{
    max-width: 850px;
    margin: auto;
}

    .cmain {
        position: relative;
        overflow: visible;
        padding: 10px;
    }

    .info-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .cnw {
        flex-wrap: nowrap;
    }

    .ccard {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .ccws {
        width: 30%;
    }

    .ccwm {
        width: 60%;
    }

    .ccwl {
        max-width: 1000px;
        width: 80%;
    }

    .ccw800 {
        max-width: 800px;
    }

    .ccnt {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctbl {
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
    }

    .ccl {
        margin: 0 auto;
        padding: 5px;
        border-radius: 10px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .center-text {
        /*text-align: right;*/
        position: absolute;
        left: 42%;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0; /* Add margin to adjust spacing if needed */
    }

    .mcnt {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* General text style for normal content paragraphs */
    .cntr-txt {
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      text-align: center;
      width: 100%;
    }

    .txt-ac {
        text-align: center;
    }
    .txt-ar {
        text-align: right;
    }
    .txt-al {
        text-align: left;
    }
    .txt-b {
        border: none;
    }
    .txt-ws {
        white-space: nowrap;
    }

    .txt-uc {
      text-transform: uppercase;
    }

    .txt-c {
      text-transform: capitalize;
    }

    .txt-bld {
      font-weight: bold;
    }

    .clh {
    line-height: 1;
    }

    .cmt {
      margin-top: 10px;
    }
        
    .cmb {
      margin-bottom: 10px;
    }

    .cmp {
      padding: 10px;
    }
