


    img {
        width: 100%; /* Images take full width of their container */
        height: auto; /* Maintain aspect ratio */
    }

    .back-to-top {
        margin-left: auto; /* Pushes back button to the right */
        cursor: pointer;
    }

    /* General text styling */
    .txt-uc {
      text-transform: uppercase;
    }

    .txt-c {
      text-transform: capitalize;
    }

    .txt-bld {
      font-weight: bold;
    }

    .text-color {
      color: #333;
    }

    /* Font size classes */
    .txt-st {
      font-size: 16px;
    }

    .txt-ss {
      font-size: 18px;
    }

    .txt-sm {
      font-size: 20px;
    }

    .txt-sl {
      font-size: 22px;
    }

    .txt-sxl {
      font-size: 24px;
    }

    /* General text style for normal content paragraphs */
    .cntr-txt {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      text-align: center;
      width: 100%;
    }

    .center-text {
        /*text-align: right;*/
        position: absolute;
        left: 30%;
        margin: 10px 0; /* Add margin to adjust spacing if needed */
    }

    /* Style for sections at the bottom */
    .info-section4 {
        display: flex; /* Flexbox layout for icons and text */
        border: 1px solid #ccc; /* Border for sections */
        border-radius: 10px; /* Rounded corners for sections */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding: 10px; /* Optional padding */
    }

    .txt-a {
        text-align: center; 
    }
    .txt-b {
        border: none;
    }
    .txt-fw {
        font-weight: bold; 
    }
    .txt-ws {
        white-space: nowrap;
    }
    /* Gradual styles for different screen sizes */
    @media (max-width: 1920px) {
        html, body {
            line-height: 100%;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
        .text-section {
            font-size: 2em;
        }
        .txt-fs {
            font-size: 25px;
        }
        svg {
            width: 100%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 100%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: 1em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: 1em; /* Ensure font size is consistent within rows */
        }
    }

    @media (max-width: 1680px) {
        html, body {
            line-height: 95%;
        }
        h1 {
            font-size: 2.7em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.8em; /* Medium font size for large tablets */
        }
        p {
            font-size: 0.9em; /* Medium font size for large tablets */
        }
        .text-section {
           font-size: 1.8em; /* Slightly smaller paragraph font size */
        }
        svg {
            width: 95%;   /* Reduce the size on smaller screens */
            height: auto;
        }
        table {
            width: 100%; /* Ensure table uses full available width */
                }

        td, th {
            font-size: .9em; /* Adjust font size inside table cells */
            padding: 10px;   /* Adjust padding for readability */
        }

        tr {
            font-size: .9em; /* Ensure font size is consistent within rows */
        }
    }
    @media (max-width: 1200px) {
        html, body {
            line-height: 90%;
        }
        h1 {
            font-size: 2.4em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.6em; /* Medium font size for large tablets */
        }
        p {
            font-size: 0.8em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.6em; /* Slightly smaller paragraph font size */
        }
    #map {
      height: 460px;
      width: 460px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 90%;   /* Reduce the size on smaller screens */
        height: auto;
    }
    table {
        width: 100%; /* Ensure table uses full available width */
            }

    td, th {
        font-size: .8em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .8em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 992px) {
        html, body {
            line-height: 85%;
        }
        h1 {
            font-size: 2.1em; /* Smaller font size for medium tablets */
        }
        h2 {
            font-size: 1.4em; /* Smaller font size for medium tablets */
        }
        p {
            font-size: 0.7em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.4em; /* Smaller paragraph font size */
        }
    svg {
        width: 85%;   /* Reduce the size on smaller screens */
        height: auto;
    }
    table {
        width: 100%; /* Ensure table uses full available width */
            }

    td, th {
        font-size: .7em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .7em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 768px) {
        html, body {
            line-height: 80%;
        }
        h1 {
            font-size: 1.8em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1.2em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 0.6em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.2em; /* Smaller paragraph font size */
        }

    svg {
        width: 80%;   /* Reduce the size on smaller screens */
        height: auto;
    }
    table {
        width: 100%; /* Ensure table uses full available width */
            }

    td, th {
        font-size: .6em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .6em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 600px) {
        html, body {
            line-height: 75%;
        }
        h1 {
            font-size: 1.5em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 0.5em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1em; /* Smaller paragraph font size */
        }

    svg {
        width: 75%;   /* Reduce the size on smaller screens */
        height: auto;
    }
    table {
        width: 100%; /* Ensure table uses full available width */
            }

    td, th {
        font-size: .5em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .5em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 480px) {
        html, body {
            line-height: 70%;
        }
        h1 {
            font-size: 1.2em; /* Even smaller font size for very small screens */
        }
        h2 {
            font-size: 0.8em; /* Even smaller font size for very small screens */
        }
        p {
            font-size: .4em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 0.8em; /* Smaller paragraph font size */
        }
    svg {
        width: 70%;   /* Reduce the size on smaller screens */
        height: auto;
    }
    table {
        width: 100%; /* Ensure table uses full available width */
            }

    td, th {
        font-size: .4em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .4em; /* Ensure font size is consistent within rows */
    }

    }

