

            .open {
                background-color: green;
                color: green;
                border: 1px solid black;
            }

            .closed {
                background-color: #8B0000;
                color: #8B0000;
                border: 1px solid black;
            }

        