

#share-main-container {
    position: relative;  /* Default value, ensures it grows with content */
    overflow: visible;   /* Ensure no content is hidden */
    padding: 10px;       /* Optional: space around the content */
    width: 60%;
    height: auto;        /* Let the height adjust with content */
    max-width: 900px;
    max-height: 900px;      /* Adjust this as needed */
    margin: auto;
      justify-content: center;
      align-items: center;
}

#share-container {
    position: relative;
    width: 60%;
    max-width: 900px;
    margin: auto;
      justify-content: center;
      align-items: center;
}

