

  .btn-lbl {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    border-radius: 50px;
    text-align: center;
    background-color: DarkGray;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: auto; /* Ensure width can be adjusted */
    height: auto; /* Ensure width can be adjusted */
  }

  .btn-whs {
      width: 200px;
      height: auto;
  }
        
  .btn-whl {
    width: 1000px; 
    height: 20px;
  }

  .btn-lbl:hover {
    background-color: black;
  }

  .btn-lbl:active {
    background-color: dimgray;
  }
