
<style>

               
    .announcement-container {
      background-color: #fff;
      padding: 20px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    /* Title styling */
    .announcement-title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Title styling */
    .announcement-subtitle {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Date styling */
    .announcement-date {
      font-size: 12px;
      color: #777;
      margin-bottom: 15px;
    }

    /* Place styling */
    .announcement-place {
      font-size: 20px;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 15px;
    }

    /* Address styling */
    .announcement-address {
      margin-bottom: 20px;
    }

    .address1,
    .address2 {
      font-size: 10px;
      text-transform: capitalize;
      color: #555;
      margin: 5px 0;
    }

    /* Schedule styling */
    .announcement-schedule {
      margin-bottom: 20px;
    }

    .schedule1,
    .schedule2 {
      font-size: 12px;
      text-transform: uppercase;
      color: #444;
      margin: 5px 0;
    }

    /* Message styling */
    .announcement-message {
      font-size: 18px;
      text-transform: capitalize;
      color: #333;
      margin-top: 10px;
    }

    .knowus {
        padding: 20px;
    }

    .info-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .info-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        width: 30%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .info-card2 {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 15px;
        width: 60%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Base styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }

    .text-section {
        font-size: 3em; /* Default large font size for desktop */
    }

    img {
        width: 100%; /* Images take full width of their container */
        height: auto; /* Maintain aspect ratio */
    }

    .browser-width {
        margin-top: 20px; /* Add some space above the width display */
        font-size: 1em; /* Font size for the width display */
    }
    /* Custom container for the map */
    .mapbody {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0; /* Remove default margin */
    }
    /* Gradual styles for different screen sizes */
    @media (max-width: 1920px) {
        h1 {
            font-size: 3em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 2em; /* Medium font size for large tablets */
        }
        p {
            font-size: 1em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 2em; /* Slightly smaller paragraph font size */
        }
    #map {
      height: 500px;
      width: 500px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 100%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: 1em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: 1em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 1680px) {
        h1 {
            font-size: 2.7em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.8em; /* Medium font size for large tablets */
        }
        p {
            font-size: 0.9em; /* Medium font size for large tablets */
        }
        .text-section {
           font-size: 1.8em; /* Slightly smaller paragraph font size */
        }
    #map {
      height: 480px;
      width: 480px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 95%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .9em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .9em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 1200px) {
        h1 {
            font-size: 2.4em; /* Medium font size for large tablets */
        }
        h2 {
            font-size: 1.6em; /* Medium font size for large tablets */
        }
        p {
            font-size: 0.8em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.6em; /* Slightly smaller paragraph font size */
        }
    #map {
      height: 460px;
      width: 460px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 90%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .8em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .8em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 992px) {
        h1 {
            font-size: 2.1em; /* Smaller font size for medium tablets */
        }
        h2 {
            font-size: 1.4em; /* Smaller font size for medium tablets */
        }
        p {
            font-size: 0.7em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.4em; /* Smaller paragraph font size */
        }
    #map {
      height: 440px;
      width: 440px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 85%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .7em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .7em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 1.8em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1.2em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 0.6em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1.2em; /* Smaller paragraph font size */
        }
    #map {
      height: 420px;
      width: 420px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 80%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .6em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .6em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 1.5em; /* Smaller font size for small tablets */
        }
        h2 {
            font-size: 1em; /* Smaller font size for small tablets */
        }
        p {
            font-size: 0.5em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 1em; /* Smaller paragraph font size */
        }
    #map {
      height: 400px;
      width: 400px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 75%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .5em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .5em; /* Ensure font size is consistent within rows */
    }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 1.2em; /* Even smaller font size for very small screens */
        }
        h2 {
            font-size: 0.8em; /* Even smaller font size for very small screens */
        }
        p {
            font-size: .4em; /* Medium font size for large tablets */
        }
        .text-section {
            font-size: 0.8em; /* Smaller paragraph font size */
        }
    #map {
      height: 380px;
      width: 380px;
      border: 1px solid #ccc; /* Optional, to give the map a border */
    }
    svg {
        width: 70%;   /* Reduce the size on smaller screens */
    }
    table {
        width: 100%; /* Ensure table uses full available width */
        table-layout: fixed; /* Adjust table layout */
    }

    td, th {
        font-size: .4em; /* Adjust font size inside table cells */
        padding: 10px;   /* Adjust padding for readability */
    }

    tr {
        font-size: .4em; /* Ensure font size is consistent within rows */
    }

    }

        .category {
            border-collapse: collapse;
            width: 50%; /* Set desired width */
            margin: auto; /* Center the table */
            border: none; /* No border */
            text-align: center; /* Center text */
            font-size: 1em; /* Font size increased */
            font-weight: bold; /* Make text bold */
        }

        .share-button {
            width: 200px; /* Ancho consistente */
            height: 30px;
            padding: 0px;
            border-radius: 50px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }        
  
        .slides {
            display: flex;
            transition: transform 0.5s ease;
            width: 100%;
        }  
        .slide {
            min-width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 30px;
        cursor: pointer;
        font-size: 38px;
        border-radius: 30%;
        z-index: 10;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }    
    .img-fluid {
        width: 100%;   /* This makes the image take the full width of the carousel */
        height: auto;  /* This forces the image to take the full height of the carousel */
        object-fit: cover; /* This preserves the aspect ratio while covering the entire area */
        display: block;  /*Removes bottom margin in some browsers */
    }     
    .controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .control {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: #000000;
        border-radius: 50%;
        cursor: pointer;
    }
    .arrow {
        display: none;
    }

    table2 {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
            .schedule table {
                width: 40%;
                border-collapse: collapse;
            }
            .schedule th {
                border: 1px solid #ccc;
                padding: 5px; /* Smaller padding for smaller cells */
                text-align: center;
                width: 40px; /* Set a fixed width for the cells */
                height: 40px; /* Set a fixed height for the cells */
            }
            .open2 {
                background-color: 'lightgreen'; /* Light green */
            }
            .closed2 {
                background-color: 'darkred'; /* Dark red for closed */
            }

    /* Green background for open hours */
    .open {
        background-color: green;
        color: white;
        border: 1px solid black;
    }
    /* Red background for closed hours */
    .closed {
        background-color: #8B0000;
        color: white;
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 50%; /* Set desired width */
        margin: auto; /* Center the table */
    }
    td {
        border: none; /* No border */
        text-align: center; /* Center text */
        font-size: 1em; /* Font size increased */
        font-weight: bold; /* Make text bold */
    }
    /* Container for the grid */
    .grid-container {
        display: grid; /* Enables grid layout */
        grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
        gap: 10px; /* Space between grid items */
        padding: 20px; /* Padding around the grid */
    }

    /* Style for each grid item */
    .grid-item {
        overflow: hidden; /* Hides overflow content */
        border-radius: 10px; /* Rounded corners for items */
        cursor: pointer; /* Changes cursor to pointer on hover */
    }

    .grid-container2 {
        display: grid; /* Enables grid layout */
        grid-template-columns: repeat(5, 1fr); /* Creates 5 equal columns */
        gap: 10px; /* Space between grid items */
        padding: 20px; /* Padding around the grid */
    }

    /* Style for each grid item */
    .grid-item2 {
        overflow: hidden; /* Hides overflow content */
        border-radius: 10px; /* Rounded corners for items */
        cursor: pointer; /* Changes cursor to pointer on hover */
    }

    .grid-containerX {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columnas */
        gap: 10px; /* Espacio entre las imágenes */
    }

    .grid-itemX {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-item3 {
        min-height: 200px; /* Sets a minimum height */
        min-width: 200px;  /* Sets a minimum width */
        overflow: hidden; /* Hides overflow content */
        border-radius: 10px; /* Rounded corners for items */
        cursor: none; /* Changes cursor to pointer on hover */
        background-color: none; /* Optional: sets a background color to make the empty cell visible */
        display: flex; /* Enables flexbox to center content */
        align-items: center; /* Centers content vertically */
        justify-content: center; /* Centers content horizontally */
    }

    /* Style for the images within the grid items */
    .grid-item img {
        width: 100%; /* Makes image responsive to container size */
        height: auto; /* Maintains aspect ratio of images */
        display: block; /* Removes bottom space/gap in images */
        border-radius: 10px; /* Rounded corners for images */
    }

    .grid-item2 img {
        width: 100%; /* Makes image responsive to container size */
        height: auto; /* Maintains aspect ratio of images */
        display: block; /* Removes bottom space/gap in images */
        border-radius: 10px; /* Rounded corners for images */
    }

    /* Style for sections at the bottom */
    .info-section4 {
        display: flex; /* Flexbox layout for icons and text */
        border: 1px solid #ccc; /* Border for sections */
        border-radius: 10px; /* Rounded corners for sections */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding: 10px; /* Optional padding */
    }

    .text-centered {
        margin: 0; /* Remove default margins */
        text-align: center; /* Center the text */
    }

    /* Style for sections at the bottom */
    .info-section3 {
        display: flex; /* Flexbox layout for icons and text */
        border: 1px solid #ccc; /* Border for sections */
        border-radius: 10px; /* Rounded corners for sections */
    }
    
    /* Style for sections at the bottom */
    .info-section {
        display: flex; /* Flexbox layout for icons and text */
        align-items: center; /* Centers items vertically */
        margin: 20px 0; /* Margin around sections */
        padding: 10px;
        border: 1px solid #ccc; /* Border for sections */
        border-radius: 10px; /* Rounded corners for sections */
    }

    .info-section2 {
        text-align: center;
        font-size: 24px;
    }

    .info-section img {
        width: 50px; /* Size of the left icon */
        height: auto;
        margin-right: 20px; /* Space between icon and text */
    }

    .back-to-top {
        margin-left: auto; /* Pushes back button to the right */
        cursor: pointer; /* Changes cursor to pointer on hover */
    }

    .back-to-top img {
        width: 30px; /* Size of back icon */
        height: auto;
    }

    .center-container {
        /*display: flex; */
        /*justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        /*flex-direction: column; /* Places items in a column (one below the other) */
        text-align: center; /* Ensures any inline elements like text will also be centered */
    }

    .center-container2 {
        display: flex; 
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically */
        /*flex-direction: column; /* Places items in a column (one below the other) */
        text-align: center; /* Ensures any inline elements like text will also be centered */
    }

    .center-text {
        /*text-align: right;*/
        position: absolute;
        left: 30%;
        font-size: 40px;
        font-weight: bold;
        margin: 10px 0; /* Add margin to adjust spacing if needed */
    }

    .center-text2 {
        /*text-align: right;*/
        position: absolute;
        left: 30%;
        font-weight: bold;
        margin: 10px 0; /* Add margin to adjust spacing if needed */
    }

    /* Responsive adjustments for mobile screens */
    @media (max-width: 500px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr); /* Adjusts to 3 columns on small screens */
        }
        .grid-item:nth-child(1),
        .grid-item:nth-child(5),
        .grid-item:nth-child(6),
        .grid-item:nth-child(10),
        .grid-item:nth-child(11),
        .grid-item:nth-child(15),
        .grid-item:nth-child(16),
        .grid-item:nth-child(20),
        .grid-item:nth-child(21),
        .grid-item:nth-child(25) {
            display: none; /* Hides specified cells on mobile */
        }
    }
    @media (max-width: 500px) {
        .grid-container2 {
            grid-template-columns: repeat(3, 1fr); /* Adjusts to 3 columns on small screens */
        }
        .grid-item2:nth-child(1),
        .grid-item2:nth-child(5) {
            display: none; /* Hides specified cells on mobile */
        }
    }

    :root {
        --main-bg-color: #f4f4f4;
        --primary-color: blue;
        --secondary-color: #555;
        --light-color: white;
        --dark-color: #333;
        --border-color: #ddd;
        --background-color: #ddd;
        --slide-background-color: #eee;
        --control-background-color: #ffffff;
        --active-color: #333;
        --hover-bg-color: pink;
        --hover-str-bg-color: grey;
        --arrow-bg: rgba(0, 0, 0, 0.5);
        --arrow-color: white;
        --control-color: #000000;
        --control-active-color: #333;
        --font-family-heading: "Poppins", sans-serif;
        --font-family-body: Arial, sans-serif;
        --default-padding: 10px;
        --border-radius: 10px;
        --slide-height: 300px;
    }


    .title-style {
        font-family: 'Playfair Display', serif; /* Elegant font for headings */
        font-size: 3rem; /* Larger size */
        font-weight: bold;
        text-shadow: none; /* Remove text shadow */
        border: none; /* Remove border */
        padding: 10px 20px; /* Add spacing around the text */
        display: flex; /* Use flexbox to align items */
        align-items: center; /* Center items vertically */
    }

    .title-style img {
        margin-right: 10px; /* Space between image and text */
    }

    .carouselX {
        position: center; /* No direct Bootstrap utility */
        overflow: hidden;   /* No direct Bootstrap utility */
        width: 80%;         /* Optional if Bootstrap w-75 is too small */
        max-width: 800px;   /* Optional if you need exact control */
    }

.carousel {
    position: relative;
    width: auto;
    max-width: 800px;
    height: auto; /*600px*/
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 0 auto; 
    display: block;
}  
.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}  
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .slidesX {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slideX {
        min-width: 100%; /* No direct Bootstrap class */
        box-sizing: border-box; /* This is common in many setups */
        background: var(--slide-background-color); /* Custom color variable */
        height: 300px; /* Custom height */
    }

    .img-fluid {
        width: 100%;
        height: auto; /* Ensures aspect ratio is maintained */
        display: block; /* Removes bottom margin in some browsers */
    }

    .img-fluid.custom-style {
        border-radius: 20px; /* Example customization */
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        transition: box-shadow 0.3s ease, border 0.3s ease; /* Smooth transition */
    }

    .img-fluid.custom-style:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
        border: 2px solid rgba(0, 0, 0, 0.1); /* Subtle border on hover */
    }

    .controls {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .control {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background: var(--control-background-color);
        border-radius: 50%;
        cursor: pointer;
    }

    .control:hover,
    input[type="radio"]:checked + .control {
        background-color: var(--hover-bg-color); /* Active state */
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        z-index: 10;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .arrow {
        display: none;
    }

    .img-grid {
        width: 10%;
        height: auto; /* Ensures aspect ratio is maintained */
        display: block; /* Removes bottom margin in some browsers */
    }
/* Part 1 */
/* Arrows linked to radio button checks */
/* Part 1 */
/* Arrows linked to radio button checks */
/* Part 1 */
/* Arrows linked to radio button checks */

</style>
